# Ignore everything by default
*

# Whitelisted files
!.gitignore
!*.js
!*.json
!*.md
!*.py
!*.yaml
!favicon*.*

# Whitelisted folders
!*/

# Ignore these folders
.cloud
.storage
blueprints

# Ignore these files
ip_bans.yaml
secrets.yaml
known_devices.yaml
