# Ignore everything by default
*

# Whitelisted files
!.gitignore
!*.js
!*.json
!*.md
!*.py
!*.yaml
!favicon*.*

# Whitelisted folders
!*/

# Ignore these folders
.storage
.cloud

# Ignore these files
ip_bans.yaml
secrets.yaml
known_devices.yaml
