# Ignore everything by default
*

# Whitelisted files
!*.yaml
!.gitignore
!*.md
!*.js

# Whitelisted folders
!*/
!www/*

# Ignore these folders
.storage
.cloud

# Ignore these files
ip_bans.yaml
secrets.yaml
known_devices.yaml
